@import "../variables";

@media screen and (max-width: 1000px) {
  header {
    // position: relative;
    .wrapper {
      max-width: 95%;

      nav,
      .language {
        display: none;
      }

      .burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $fifthColor;
        border-radius: 50%;
        cursor: pointer;

        // Open Menu
        .open-spans {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            position: absolute;
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $secondColor;
          }
          span:first-child {
            transform: translateX(-10px);
          }
          span:last-child {
            transform: translateX(10px);
          }
        }
        // Closing menu
        .close-spans {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            background-color: $secondColor;
          }
          span:first-child {
            transform: rotate(-45deg);
          }
          span:last-child {
            transform: rotate(45deg);
          }
        }
      }
    }
    // Modal
    .menu-modal {
      position: absolute;
      visibility: visible;
      top: 60px;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $firstColor;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-top: 60px;
        font-weight: bold;
        font-size: calc($font-size * 1.3);
      }
    }
    .menu-hidden {
      visibility: hidden;
    }
  }
}
