@import "./variables";

body {
  font-family: "Montserrat", sans-serif;
  color: $fifthColor;
  line-height: 1.375em;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

// General tags

main {
  padding-top: 60px;
  height: 100%;
  min-height: 100vh;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
section {
  padding: 60px 0;
}

// Title

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: $secondColor;
}
h1 {
  font-size: 48px;
  line-height: 1.05em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 60px;
}
h2 {
  font-size: 36px;
  line-height: 1.25em;
}
h3 {
  font-size: 28px;
  line-height: 1.25em;
}
h4 {
  font-size: 22px;
  line-height: 1.22em;
}

// other tags
a {
  color: $fifthColor;
  text-decoration: inherit;
}
